body {
	background-color:#23BAB5;
}

.navbar {
    border-radius: 0;
}

.navbar-new {
	min-height: 105px;
    background-color: #23BAB5;
    border-color: #0FA6A1;
	margin-bottom: 0px;
	
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  margin-top: -13px;
	
}

.btn-danger{
	background-color: #00b300 !important;
	float: right;
	margin: 25px;
}

.btn-danger:active {
     background: red !important;
}


.footer{
	text-align: center;
	padding-top: 10px;
}

.btn-warning{
	background-color: #ffbf00 !important;
	margin: 7px;
}

.btn-warning:focus {
     background: red !important;
}

span.glyphicon{
    font-size: 1.5em;
}
